{{ partial "header.html" . }}
<div class="container">
    <h1 class="article-list-title">{{.Title}}</h1>
    <b>Una lista degli articoli che ho scritto.</b>
    <div class="row">
        <div class="col-medium">
            <div class="article">
                <h2><a href="">Primo articolo</a></h2>
                <img src="/" title=""/>
                .description
                <a class="go-to-article" href="" title="">Vai all'articolo →</a>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}