<!DOCTYPE html>
<html lang="it-it">
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL}}/index.xml" title="Cristian Ingrao - Sito ufficiale"/>
    <link rel='stylesheet' href='{{.Site.BaseURL}}/css/style.css' type='text/css' media='all'/>
    <link rel="apple-touch-icon" sizes="180x180" href="/immagini/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/immagini/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/immagini/favicon-16x16.png">
    <link rel="manifest" href="/immagini/site.webmanifest">
    <link rel="mask-icon" href="/immagini/safari-pinned-tab.svg" color="#ffc40c">
    <meta name="msapplication-TileColor" content="#ffc40c">
    <meta name="theme-color" content="#000000">
</head>
<header>
    <div class="site-title">
        <a href="{{.Site.BaseURL}}" title="Sito ufficiale di Cristian Ingrao">Cristian Ingrao</a>
    </div>
    <input type="checkbox" id="input">
    <label for="input">
        <span class="menu-span top"></span>
        <span class="menu-span middle"></span>
        <span class="menu-span bottom"></span>
    </label>
    <div class="header-items">
        <a href="/articoli/" title="Tutti gli articoli che ho scritto.">Articoli</a>
        <a href="/info-contatti" title="Contatti di Cristian Ingrao">Informazioni e contatti</a>
    </div>
    <div class="m-menu">
        <ol>
            <li><a href="/articoli/" title="Tutti gli articoli che ho scritto.">Articoli</a></li>
            <li><a href="/info-contatti" title="Contatti di Cristian Ingrao">Informazioni e contatti</a></li>
        </ol>
    </div>
</header>