<div class="container">
    <h1>Salve.</h1>
    <div class="welcome">
        .content
    </div>
    <div class="yellow-div">
        <h1>Chi sono.</h1>
        .description
    </div>
    <h1 class="article-list-title">Articoli in evidenza.</h1>
    <div class="row">
        <div class="col-medium">
            <div class="article">
                <h2><a href="">Primo articolo</a></h2>
                <img src="/" title=""/>
                .description
                <a class="go-to-article" href="" title="">Vai all'articolo →</a>
            </div>
        </div>
    </div>
</div>